!!! 5
%html
  %head
    %title= "Library of Congress Callnumber parser test}"
    %link{:href=>"http://fonts.googleapis.com/css?family=Arbutus", :rel=>"stylesheet", :type=>"text/css"}
  %body
    %h1 Library of Contress Callnumber parser test
    = yield      