!!! 5
%html
  %head
    %title Library of Congress Callnumber parser test
    %link{:href=>"http://fonts.googleapis.com/css?family=Arbutus", :rel=>"stylesheet", :type=>"text/css"}
    %script{:type => "text/javascript",
            :src  =>"//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
        
    :scss
      .result { 
        clear: both;
        padding-top: 2em; 
        border-top: 1pt solid gray; 
        padding-bottom: 1em;  
  
        h3 {width: 30%; padding-right: 2em; float:left}
        table {
          width: 30%;
          float: left;
          th,td { text-align: left;  font-weight: normal}
          td { padding-left: 1.5em }
          tr {border-bottom: 1pt solid gray;}
        }
        
        .submit {width: 30%; float:left; padding-top: 4em;}
        .submitted_good {display: none; color: green;}
      }
      
    :javascript
      $(document).ready(function() {
        $('form.ajaxform').submit(function() {
          frm = $(this)
          $.ajax({
            url: '/correct',
            type: 'POST',
            data: frm.serialize(),
            success: function(data) {
              if (data == 'success') { 
                $('.submitted_good', frm).show();
                $('input.submit_button', frm).hide();
                
              } else {
                alert("Error: " + data);
              }
            },
            error: function(xhr,err) {alert("Error: " + err)}
          });
          return false;
        })
      })

  %body
    %h1 
      %a{:href=>'/'} Library of Contress Callnumber parser test
    %p 
      A test application for the parser embedded in the gem
      %a{:href=>"https://github.com/billdueber/lc_callnumber"} lc_callnumber
      = "."
    %p For questions or comments, contact Bill Dueber (bill at dueber dot com)
    = yield      