%h2 Results

%p 
  If you have a few minutes, please take the time to check/correct and then submit the correct parse. I'm throwing them all in a database and will use it drive more testing for the underlying parser.
  

%p Note: "extra" cutters (beyond the first) are entered in a single field, delimited by the comma (',') character.

- parsed.each_pair do |str,obj|
  %div.result
    %form.ajaxform{:action=>'/correct', :method=>'POST'}
      %h3= str
      %input{:type=>'hidden', :name=>'original_string', :value=>str}
      %div.parts
        %table
          - obj.each do |k,v|
            %tr
              %th= k
              %td
                %input{:type=>'text', :value=>v, :name=>"correct_value[]"}
        - unless obj.lcc.valid?
          %div 
            String could not be parsed by the parser. If that's correct, just leave
            everything blank and submit. If not, fix the values and submit those.
        %div.submit
          %input.submit_button{:type=>'submit', :value=>"Submit as correct"}
          %div.submitted_good Thanks. Submitted these values as correct
        
      
